/* Universal */

html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: helvetica;
}

.container {
  display: flex; /* don't do this? */
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;
  line-height: 1.2rem;
  font-weight: bold;
}

/* Header */

header {
  background-image: url("../Images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  height: 30rem;
  padding-top: 1rem;
}
/*
.box .container {
  margin: 0 2rem;
}
*/
.header {
  justify-content: center;
  width: 100%;
  background-color: cadetblue;
  color: white;
  flex-grow: 1;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
nav span {
  display: inline-block;
  padding: 1rem 2rem 1rem 0;
}
a {
  color: white;
  text-decoration: none;
}
.small-nav {
  display: none;
}
.headline {
  display: block;
  position: relative;
  padding: 1.5rem 5rem;
  background-color: white;
  position: relative;
  float: right;
  top: 10rem;
  right: 10rem;
}

/* Main Content */

main .container {
  display: flex;
  flex-direction: column;
}
.reasons, .business-info {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
}
.reason {
  margin: 0 3rem;
  width: 5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reason-img {
  max-width: 8rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
.reason img {
  max-width: 5rem;
  max-height: 5rem;
  min-width: 3.5rem;
}
.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
}
.business-info {
  justify-content: flex-start;
  margin-bottom: 5rem;
  margin-left: 3rem;
}
.info {
  width: 35%;
  margin: 0 2.5%;
}
.title {
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
}
.info p {
  margin-top: 1rem;
}
footer .container {
  background-color: azure;
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Other screen sizes */

@media only screen and (max-width: 960px) {
  header {
    height: 22rem;
    background-position: 40%;
  }
  .header {
    margin-top: 0;
    top: 0;
  }
  .headline {
    padding: 0.75rem 4rem;
    top: 9rem;
    right: 2rem;
  }
  main {
    width: 100%;
  }
  .business-info {
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 616px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
  .header {

  }
  .big-nav {
    display: none;
  }
  .small-nav {
    display: block;
  }
  .logo span {
    display: none;
  }
  .headline {
    padding: 1rem;
    width: 100%;
    top: 9rem;
    right: 0;
    text-align: center;
  }
  h1 {
    font-size: 1rem;
  }
  .reasons {
    flex-direction: column;
    margin-top: 3.77rem;
  }
  .reason {
    margin-top: 1.54rem;
  }
  .reason span {
    font-size: 0.77rem;
  }
  .business-info {
    margin-top: 3.77rem;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .info p {
    font-size: 0.77rem;
  }
  .info.appointments {
    margin-top: 4rem;
  }
  footer {
    width: 100%;
  }
  footer .container {
    justify-content: center;
  }
  footer span {
    display: none;
  }
}
